* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#aladin_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.aladin_header_wrap {
  width: 100%;
  height: 157px;
  background-color: green;
  margin: 0 auto;
}

.aladin_header1 {
  width: 100%;
  height: 40px;
  background-color: black;
  margin: 0 auto;
}

.aladin_header1_in {
  width: 1030px;
  height: 40px;
  background-color: purple;
  margin: 0 auto;
  display: flex;
}

.aladin_headmenu {
  width: 750px;
  height: 40px;
  background-color: brown;
}
.aladin_headmenu ul {
  display: flex;
}
.aladin_headmenu li {
  margin: 0 auto;
  margin-top: 10px;
  color: #FFF;
  font-size: 13px;
}

.aladin_header_login {
  width: 300px;
  height: 40px;
  background-color: coral;
}

.aladin_header_login ul {
  display: flex;
}

.aladin_header_login li {
  margin: 0 auto;
  margin-top: 10px;
  color: #FFF;
  font-size: 13px;
}

.aladin_headermid {
  width: 1030px;
  height: 90px;
  background-color: blue;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.aladin_headersearch {
  width: 535px;
  height: 40px;
  background-color: purple;
  margin: 0 auto;
  position: relative;
}
.aladin_headersearch dl {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #2f9ddc;
  font-weight: bold;
  font-size: 13px;
}
.aladin_headersearch .img1 {
  width: 535px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
}
.aladin_headersearch button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  right: 15px;
}
.aladin_headersearch .img2 {
  position: absolute;
  top: 20px;
  left: 100px;
  transform: translateY(-50%);
}
.aladin_headersearch .img3 {
  position: absolute;
  top: 20px;
  right: 80px;
  transform: translateY(-50%);
}

.ad box {
  border: none;
}

.aladin_header_bottom {
  width: 1030px;
  height: 30px;
  background-color: blueviolet;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.aladin_header_bottom .l_menu {
  display: flex;
  align-items: center;
  color: #0f4e8a;
  font-weight: bold;
}
.aladin_header_bottom .l_menu li {
  margin: 0 6px;
  font-size: 15px;
}
.aladin_header_bottom .r_menu {
  display: flex;
  font-size: 13px;
  color: #dd2483;
  font-weight: bold;
  padding: 0 6px 3px 8px;
  line-height: 25px;
}
.aladin_header_bottom .img {
  width: 170px;
  height: 250px;
}

.aladin_first_middle {
  width: 1030px;
  height: 448px;
  background-color: cornflowerblue;
  margin: 0 auto;
}

.aladin_first_middlesub {
  width: 1020px;
  height: 385px;
  background-color: #dd2483;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.aladin_first_middlesub .imgbox {
  width: 170px;
  height: 250px;
  background-color: yellow;
  margin: 0 auto;
}

.aladin_first_middlesub_bottom {
  width: 1030px;
  height: 60px;
  background-color: blueviolet;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.aladin_hoverbox {
  width: 110px;
  height: 34px;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
}
.aladin_hoverbox.active {
  background-color: #3C5980;
  border-radius: 10px;
}
.aladin_hoverbox h3 {
  line-height: 33px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.aladin_first_book {
  width: 1030px;
  height: 385px;
  background-color: black;
  margin: 0 auto;
  display: flex;
}
.aladin_first_book .left {
  width: 687px;
  height: 380px;
  background-color: #dd2483;
}
.aladin_first_book .right {
  width: 305px;
  height: 350px;
  background-color: brown;
  margin: 0 auto;
}

.aladin_rank {
  width: 1030px;
  height: 258px;
  background-color: chocolate;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.aladin_rank .left {
  width: 836px;
  height: 258px;
  background-color: crimson;
}
.aladin_rank .right {
  width: 190px;
  height: 206px;
  background-color: teal;
  margin: 0 auto;
}

.aladin_first_tab {
  width: 1030px;
  height: 63px;
  background-color: chartreuse;
  margin: 0 auto;
}

.aladin_second_middle {
  width: 1030px;
  height: 390px;
  margin: 0 auto;
  background-color: blue;
}

.aladin_third_middle {
  width: 1030px;
  height: 260px;
  background-color: gold;
  margin: 0 auto;
}

.aladin_first_image {
  width: 1030px;
  height: 130px;
  background-color: purple;
  margin: 0 auto;
}

.aladin_fourth_middle {
  width: 1030px;
  height: 400px;
  background-color: red;
  margin: 0 auto;
}

.aladin_five_middle {
  width: 1030px;
  height: 271px;
  background-color: black;
  margin: 0 auto;
}