@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#aladin_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.aladin_header_wrap {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #33AFE9;
}

.aladin_header1 {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: #33afe9;
}

.aladin_header1_in {
  width: 1030px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.aladin_headmenu {
  width: 750px;
  height: 40px;
  font-weight: bold;
}
.aladin_headmenu ul {
  display: flex;
}
.aladin_headmenu li {
  margin: 0 auto;
  margin-top: 10px;
  color: #FFF;
  font-size: 13px;
}

.aladin_header_login {
  width: 300px;
  height: 40px;
  font-weight: bold;
}

.aladin_header_login ul {
  display: flex;
}

.aladin_header_login li {
  margin: 0 auto;
  margin-top: 10px;
  color: #FFF;
  font-size: 13px;
}

.aladin_headermid {
  width: 1030px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.aladin_headersearch {
  width: 535px;
  height: 40px;
  background-color: purple;
  margin: 0 auto;
  position: relative;
}
.aladin_headersearch dl {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #2f9ddc;
  font-weight: bold;
  font-size: 13px;
}
.aladin_headersearch .img1 {
  width: 535px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
}
.aladin_headersearch button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  right: 15px;
}
.aladin_headersearch .img2 {
  position: absolute;
  top: 20px;
  left: 100px;
  transform: translateY(-50%);
}
.aladin_headersearch .img3 {
  position: absolute;
  top: 20px;
  right: 80px;
  transform: translateY(-50%);
}

.ad box {
  border: none;
}

.aladin_header_bottom {
  width: 1030px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.aladin_header_bottom .l_menu {
  display: flex;
  align-items: center;
  color: #0f4e8a;
  font-weight: bold;
}
.aladin_header_bottom .l_menu li {
  margin: 0 6px;
  font-size: 15px;
}
.aladin_header_bottom .l_menu li img {
  vertical-align: middle;
  padding: 0 5px;
}
.aladin_header_bottom .r_menu {
  display: flex;
  font-size: 13px;
  color: #dd2483;
  font-weight: bold;
  padding: 0 6px 3px 8px;
  line-height: 25px;
}
.aladin_header_bottom .img {
  width: 170px;
  height: 250px;
}

.aladin_footer_service {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  height: 580px;
  margin: 0 auto;
  margin-top: 30px;
}
.aladin_footer_service .aladin_footer_ser {
  width: 1100px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.aladin_footer_service .service_1 {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_1 h3 {
  font-size: 16px;
  margin-top: 20px;
}
.aladin_footer_service .service_1 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .service_2 {
  width: 300px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_2 .search {
  position: relative;
  width: 200px;
}
.aladin_footer_service .service_2 input {
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 10px 12px;
  font-size: 14px;
}
.aladin_footer_service .service_2 img {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}
.aladin_footer_service .service_2 span {
  font-size: 12px;
  font-weight: bold;
}
.aladin_footer_service .service_2 h3 {
  font-size: 16px;
  margin-top: 20px;
}
.aladin_footer_service .service_2 h6 {
  font-size: 13px;
  margin-top: 15px;
}
.aladin_footer_service .service_3 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_3 h3 {
  font-size: 16px;
  margin-top: 20px;
}
.aladin_footer_service .service_3 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .service_4 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_4 h3 {
  font-size: 16px;
  margin-top: 20px;
}
.aladin_footer_service .service_4 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .aladin_footer_vice {
  width: 1100px;
  height: 320px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.aladin_footer_service .service_5 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_5 h3 {
  width: 150px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 36px;
  color: black;
  background-color: #EDEFF1;
  border-radius: 4px;
  box-sizing: border-box;
}
.aladin_footer_service .service_5 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .service_6 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_6 h3 {
  width: 150px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 36px;
  color: black;
  background-color: #EDEFF1;
  border-radius: 4px;
  box-sizing: border-box;
}
.aladin_footer_service .service_6 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .service_7 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_7 h3 {
  width: 150px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 36px;
  color: black;
  background-color: #EDEFF1;
  border-radius: 4px;
  box-sizing: border-box;
}
.aladin_footer_service .service_7 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .service_8 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_8 h3 {
  width: 150px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 36px;
  color: black;
  background-color: #EDEFF1;
  border-radius: 4px;
  box-sizing: border-box;
}
.aladin_footer_service .service_8 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .service_9 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_9 h3 {
  width: 150px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 36px;
  color: black;
  background-color: #EDEFF1;
  border-radius: 4px;
  box-sizing: border-box;
}
.aladin_footer_service .service_9 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}
.aladin_footer_service .service_10 {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin: 10px;
}
.aladin_footer_service .service_10 h3 {
  width: 150px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 36px;
  color: black;
  background-color: #EDEFF1;
  border-radius: 4px;
  box-sizing: border-box;
}
.aladin_footer_service .service_10 li {
  font-size: 13px;
  margin: 8px;
  font-weight: bold;
}

.aladin_footer_top {
  width: 100%;
  height: 65px;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}
.aladin_footer_top ul {
  width: 1030px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.aladin_footer_top li {
  font-size: 14px;
  margin: 0 auto;
  margin: 0 3px;
  margin-top: 18px;
  font-weight: 600;
}

.aladin_footer_bottom {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  display: flex;
}

.bottomleft {
  width: 700px;
  height: 300px;
}
.bottomleft h3 {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 10px;
}

.bottom_explain {
  width: 700px;
  height: 150px;
}
.bottom_explain p {
  font-size: 14px;
  font-weight: 600;
  margin: 20px;
  letter-spacing: 1px;
}

.bottom_safe {
  width: 700px;
  height: 50px;
  display: flex;
  font-size: 8px;
}
.bottom_safe img {
  margin: 5px;
}
.bottom_safe h6 {
  margin-top: 10px;
  margin-left: 12px;
}

.bottomright {
  width: 300px;
  height: 300px;
}
.bottomright h3 {
  font-size: 18px;
  margin-top: 50px;
}
.bottomright p {
  font-size: 12px;
  margin-top: 20px;
}

.bottom_notice {
  width: 300px;
  height: 80px;
  margin-top: 20px;
  display: flex;
}
.bottom_notice span {
  margin: 2px;
  display: inline-block;
  width: 157px;
  height: 36px;
  border: 1px #E6E6E6 solid;
  border-radius: 4px;
  text-align: center;
  line-height: 34px;
  box-sizing: border-box;
  font-size: 13px;
  text-decoration: none;
}

.bottom_time {
  width: 300px;
  height: 50px;
}
.bottom_time span {
  display: inline-block;
  width: 100%;
  height: 36px;
  border: 1px #E6E6E6 solid;
  border-radius: 4px;
  text-align: center;
  line-height: 34px;
  box-sizing: border-box;
  font-size: 13px;
  color: #333;
}

.aladin_subpage {
  width: 1060px;
  height: 900px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.aladin_subpage .first_subpage {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid gray;
}
.aladin_subpage .first_subpage h3 {
  font-size: 26px;
}
.aladin_subpage .first_subpage h3 span {
  margin-left: 20px;
}
.aladin_subpage .first_subpage span {
  font-size: 12px;
  font-weight: bold;
}
.aladin_subpage .first_subpage p {
  font-size: 14px;
  font-weight: bold;
}
.aladin_subpage .firstbox {
  display: inline-block;
  background: #ffffff;
  border-radius: 3px;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  color: #555;
  margin-right: 5px;
  font-family: Malgun Gothic, "Segoe WPC", "Segoe UI", "Apple SD Gothic Neo", Helvetica, AppleGothic, Sans-serif;
  border: 1px solid #e5e5e5;
}
.aladin_subpage .fa-solid {
  margin: 10px;
}
.aladin_subpage .subpage_picture {
  width: 500px;
  height: 700px;
  background-color: yellow;
}
.aladin_subpage .subpage_picture img {
  width: 100%;
  height: 100%;
}
.aladin_subpage .subpage_text {
  width: 560px;
  height: 700px;
  background-color: brown;
}

.text1 {
  color: #f03c97;
  font-weight: bold;
}

.texttop li {
  list-style: none;
  position: relative;
  padding: 0 0 3px 0;
  margin: 0;
}

.textleft {
  position: absolute;
  left: 0;
  width: 100px;
}

.textright {
  margin-left: 100px;
  width: 400px;
  padding-bottom: 3px;
}

.aladin_twoimg {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}
.aladin_twoimg .leftimg {
  width: 530px;
  padding: 1px;
}
.aladin_twoimg .rightimg {
  width: 530px;
  padding: 1px;
}
.aladin_twoimg img {
  width: 100%;
}

.aladin_content1 {
  width: 1060px;
  height: 210px;
  background-color: coral;
  margin: 0 auto;
  display: flex;
}
.aladin_content1 h3 {
  font-size: 22px;
  margin-top: 40px;
}
.aladin_content1 ul > li {
  float: left;
  margin: 0 10px;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 17px;
  font-weight: 600;
}

.aladin_content2 {
  width: 1060px;
  height: 180px;
  background-color: blue;
  margin: 0 auto;
  display: flex;
}
.aladin_content2 h3 {
  font-size: 22px;
  margin-top: 40px;
}

.aladin_content3 {
  width: 1060px;
  height: 180px;
  background-color: yellow;
  margin: 0 auto;
  margin-top: 40px;
}

.aladin_content4 {
  width: 1060px;
  height: 370px;
  background-color: brown;
  margin: 0 auto;
}

.aladin_event {
  width: 1060px;
  height: 370px;
  background-color: aqua;
  margin: 0 auto;
}

.aladin_table {
  width: 1060px;
  height: 900px;
  background-color: darkred;
  margin: 0 auto;
}

.aladintrade {
  width: 250px;
  height: 50px;
  background-color: blue;
}