@charset "utf-8";

@import "reset", "common";

//메인

#aladin_wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.aladin_header_wrap{
    width: 1903px;
    height: 157px;
    background-color: green;
    margin: 0 auto;

}


.aladin_header1 {
    width: 1903px;
    height: 40px;
    background-color: black;
    margin: 0 auto;
}


.aladin_header1_in{
    width: 1030px;
    height: 40px;
    background-color: purple;
    margin: 0 auto;
    display: flex;
}

.aladin_headmenu{
    width: 750px;
    height: 40px;
    background-color: brown;

}

.aladin_headmenu ul{
    display: flex;
}

.aladin_headmenu li{
    margin: 0 auto;
    margin-top: 10px;
    color: #FFF;
    font-size: 13px;
}

.aladin_header_login{
    width: 300px;
    height: 40px;
    background-color: coral;

}

.aladin_header_login ul{
    display: flex;
}

.aladin_header_login li{
    margin: 0 auto;
    margin-top: 10px;
    color: #FFF;
    font-size: 13px;
}


.aladin_headermid{
    width: 1030px;
    height: 90px;
    background-color: blue;
    margin: 0 auto;
}

.aladin_search{
    width: 540px;
    height: 90px;
    background-color: red;
    margin: 0 auto;
    
}

.aladin_first_middle{
    width: 1030px;
    height: 448px;
    background-color: cornflowerblue;
    margin: 0 auto;
}


.aladin_first_book{
    width: 1030px;
    height: 385px;
    background-color: black;
    margin: 0 auto;
}


.aladin_first_tab{
    width: 1030px;
    height: 63px;
    background-color: chartreuse;
    margin: 0 auto;
}



.aladin_second_middle{
width: 1030px;
height: 390px;
margin: 0 auto;
background-color: blue;
}


.aladin_third_middle{
    width: 1030px;
    height: 260px;
    background-color: gold;
    margin: 0 auto;
}


.aladin_first_image{
    width: 1030px;
    height: 130px;
    background-color: purple;
    margin: 0 auto;
}


.aladin_fourth_middle{
    width: 1030px;
    height: 400px;
    background-color: red;
    margin: 0 auto;
}

.aladin_five_middle{
    width: 1030px;
    height: 271px;
    background-color: black;
    margin: 0 auto;
}

