@charset "utf-8";

@import "reset", "common";



//메인



.aladin_first_middle{
    width: 1030px;
    height: 448px;
    margin: 0 auto;
    border: 1px solid #0f4e8a;
    border-radius: 5px;
}

.aladin_first_middlesub{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;

.imgbox{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.imgbox img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}



button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
}

button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}



}


.aladin_first_middle{
    width: 1030px;
    height: 448px;
    margin: 0 auto;
}



.aladin_first_middlesub1{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox1{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.imgbox1 img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}

button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
    
}



button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}


}




.aladin_first_middlesub2{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox2{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.imgbox2 img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}

button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
    
}


button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}

}



.aladin_first_middlesub3{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox3{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.imgbox3 img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}

button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px; 
}


button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}

}


.aladin_first_middlesub4{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox4{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.imgbox4 img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}

button{
    // background: yellow;
    // opacity: 0.6;
    // width: 150px;
    // height: 40px;
    // line-height: 22px;
    // margin-top: 10px;
    // margin-left: 5px;
    // border-radius: 20px;
    // padding: 0;
    // border: none;

    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
   
}


button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}

}


.aladin_first_middlesub5{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox5{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.imgbox5 img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}

button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
    
}

button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}

}

.aladin_first_middlesub6{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox6{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.imgbox6 img{
    width: 100%;
}


h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}


button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;   
}


button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}
}


.aladin_first_middlesub7{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox7{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.imgbox7 img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}

button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
    
    
}

button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}


}

.aladin_first_middlesub8{
    width: 1020px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: none;

.imgbox8{
    width: 170px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.imgbox8 img{
    width: 100%;

}

h3{ margin-top: 5px;
    font-size: 12px;
height: 40px;}

button{
    outline: 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.1;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
}

button:hover{box-shadow: inset 00px 100px 0px 0px #6098FF;
    color: #ffffff;}

}

.aladin_first_middlesub_bottom{
    width: 1030px;
    height: 60px;
    background-color: #0f4e8a;
    opacity: 0.9;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.aladin_hoverbox{
    width: 110px;
    height: 34px;
    font-size: 13px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    
    &.active{
        background-color: #3C5980;
        // border: 2px solid #3C5980;
        border-radius: 10px;
    }

    h3{
        line-height: 33px;
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        text-align: center;
    }

}

.aladin_first_book{
    width: 1030px;
    height: 385px;
    margin: 0 auto;
    // display: flex;
    overflow: hidden;
    position: relative;

    .left{
        width: 687px;
        height: 380px;
        float: left;

    .slidebox1{
        width: 300%;
        height: 380px;
        overflow: hidden;
        margin: 2px;
        // flex-shrink: 0;
    }
    
        h3{font-size: 3px;
            margin-bottom: 30px;
        color: #333;
        font-family: 'Noto Sans KR', sans-serif;}

    .slide1{width: 11.11%; height: 250px; float: left;  }

    .slide1 img{width: 80%; height: 80%;}

    button{
        outline: 0;
        color: #FFF;
        font-size: 10px;
        font-weight: bold;
        font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
        line-height: 1.1;
        display: block;
        white-space: nowrap;
        background: #333;
        margin: 0;
        padding: 10px 10px 10px 10px;
    }

    span {position: absolute; 
        top:30%; display: block; font-size: 38px; color:#fff; line-height: 40px; background: rgba(0,0,0,0.6); cursor: pointer; height: 50px; transform: translateY(-50%); }

    span:hover {background: rgba(255,255,255,0.8); color:#000;}


    button:hover{box-shadow: inset 00px 100px 0px 0px #3C5980;
        color: #ffffff;}

    .prev {left:0; border-radius: 10px; padding: 0 8px 0 2px;}
    .next {right:0; border-radius: 10px; padding: 0 5px;}

}


.right{
    width: 305px;
    height: 350px;
    float: right;
}

}

.aladin_rank{
    width: 1030px;
    height: 258px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .left{
        width: 836px;
        height: 258px;

        h3{
            width: 100%;
            font-size: 24px;
            color: #333;
            font-family: 'Noto Sans KR', sans-serif;
           
        }
        
        ol{
            height: 208px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        
        li{
            display: flex;
            width: 220px;
            height: 48px;
            font-size: 15px;
            margin: 0 auto;
            margin-right: 25px;
            align-items: center;
            border-bottom: 1px solid #EAEAEA;
            font-weight: bold;     
        }
        
        .big1{
            width: 250px;
            height: 100px;
            margin: 0 auto;
            margin-right: 55px;
        }
        
        .big{
            color: pink;
            margin: 0 5px;
        }
        
        .new1{color: #dd2483;
            font-weight: bold;
            font-size: 11px;
            margin: 0 15px;
        }  

        span{
            color: black;
            margin: 0 5px;
        }

        .fa-solid{margin: 0 15px}


        .prev {left:0; border-radius: 10px; padding: 0 8px 0 2px;}
        .next {right:0; border-radius: 10px; padding: 0 5px;}



    }

 

    
.right{
    width: 190px;
    height: 206px;
    background-color: teal;
    margin: 0 auto;
}

}



.aladin_minisize{
    width: 100%;
    height: 130px;
    background-color: rgb(246, 208, 222);
}

.aladin_minisize1{
    width: 1030px;
    height: 130px;
    margin: 0 auto;
    
}




.aladin_second_middle{
width: 1030px;
height: 390px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;


h3{width: 100%;
font-size: 24px;
margin-bottom: 10px;
margin-top: 10px;}


.box{
    width: 186px;
    height: 310px;
    margin: 0 auto;
    margin: 10px;

h6{font-size: 17px;
    color: #333;
}

img{width: 100%;}
}}






.aladin_third_middle{
    width: 1030px;
    height: 315px;
    margin: 0 auto;
    margin-top: 30px;
    overflow:hidden;
    position: relative;


h3{font-size: 24px;
font-weight: bold;}

    .aladin_name{font-size: 15px;
        margin: 1px;
        padding: 10px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    background-color: rgba(0,0,0,0.8);

}

    .slide {width: 300%; overflow: hidden; }
.slide li {width: 11.11%; height: 280px; float: left; position: relative;}
.slide li img {width: 100%; height: 100%;}


    span {position: absolute; 
        top:50%; display: block; font-size: 38px; color:#fff; line-height: 40px; background: rgba(0,0,0,0.6); cursor: pointer; height: 50px; transform: translateY(-50%); }
    span:hover {background: rgba(255,255,255,0.8); color:#000;}


    .prev {left:0; border-radius: 10px; padding: 0 8px 0 2px;}
    .next {right:0; border-radius: 10px; padding: 0 5px;}

    }

// .aladin_name{
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     margin: 0;
//     height: 38px;
//     background: rgba(0, 0, 0, 0.2);

//     h3{position: absolute;
//         left: 12px;
//         top: 10px;
//         font-size: 14px;
//         color: #fff;
//         z-index: 2;
//         font-weight: bold;
//         text-overflow: ellipsis;
//         }
// }




.aladin_five_middle{
    width: 1030px;
    height: 280px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;


.aladin_fivetv{
    width: 680px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    

h3{width: 100%;
    font-size: 24px;
}

}

.aladin_fivetvbox{
    width: 210px;
    height: 190px;
    margin: 0 auto;
    margin: 3px;
   
    img{width: 100%;}

    h3{font-size: 15px;}

    p{font-size: 13px;
    color: #2a68b9;}

    span{font-size: 13px;}
}



.aladin_fivemeet{
    width: 370px;
    height: 250px;


    h3{font-size: 20px;}
}

}

.fivemeettop{
width: 280px;
height: 101px;
position: relative;
margin-left: 95px;
border-bottom: 1px solid #E6E6E6;

}

.topimg{width: 80px;
    height: 80px;
    position: absolute;
    left: -95px;
    top: 2px;
    border-radius: 50%;
    overflow: hidden;

.toptext{ margin: 0 auto;
 border: none;

    h4{font-size: 15px;
    margin: 10px;}
    p{font-size: 13px;
        margin: 10px;}
}
}


.fivemeetbottom{
    width: 280px;
    height: 101px;
    position: relative;
    margin-left: 95px;
    border-bottom: 1px solid #E6E6E6;
}

.bottomimg{width: 80px;
    height: 80px;
    position: absolute;
    left: -95px;
    top: 2px;
    border-radius: 50%;
    overflow: hidden;
}

.bottomtext{ margin: 0 auto;
 border: none;
margin-top: 10px;
    h4{font-size: 15px;
    margin-top: 10px;
}
}


